@charset "utf-8";


a  {
	text-decoration: none;
	color:dimgray;
	text-align: left;
	
}

a:hover.link{
	color:black;

	font-size:35px; 
}

a:visited.link{
	color:purple;	
}

p1 {
    text-indent: 50px;
}
nav {
	border: large;
	margin: 0px;
	padding: inherit;
	background-color: beige;
	font-size: 25px;
}

body{
	background-color: #ffffff; 
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif;	
	
	margin:0;
    padding:0;
    background: #000 url(home_back.jpg) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
	
	

}

header {
	border: large;
	margin: auto;
	text-align:center;
	font-size: 60px;
	padding: inherit;
	background-color: white;
	
	
	
}
h1{
	margin-left: 10px;
	
}
footer {
	border: medium;
	margin: 0;
	padding: inherit;
	background-color: aqua;
	text-align: left;
}
#main {
	margin-left: inherit;

}

#slam {
	font-size: 70px;
	margin-left: 100px;
	

}

#content{
	margin-left: 15px;
	font-size: 25px;
}
#pic_head{

    max-width: 5%;
	max-height: 5%;

}


#pic{
	
	display: block;
    max-width: 100%;
    height: auto;

}
#pic_in{
	
	
}

#inline > div {
    display: inline-block;
    width: 400px;
    height: auto;

    border: 1px ;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    line-height: 35px;
	margin-left: 70px
}

#table{
	font-size: 20px;
	text-align: center;
}
#sign{
	margin-left: 20px;
}