@charset "utf-8";


a  {
	text-decoration: none;
	color:rosybrown;
}

a:hover.link{
	color:rosybrown;
	background-color:#FF6; 
	font-size:x-large; 
}

a:visited.link{
	color:purple;	
}

p1 {
    text-indent: 50px;
}
nav {
	border: large;
	margin: 0px;
	padding: inherit;
	background-color: gray;
}

body{
	background-color: #ffffff; 
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif;	
	text-align:left;
}

header {
	border: medium;
	margin: auto;
	text-align:center;
	font-size: 70px;
	padding: inherit;
	background-color: white;
}
footer {
	border: medium;
	margin: auto;
	padding: inherit;
	background-color: aqua;
}
#main {
	margin-left: inherit;

}
.hightlight {
	color: green;
}

